{
    "semi": true,
    "tabWidth": 2,
    "printWidth": 140,
    "singleQuote": true,
    "singleAttributePerLine": true,
    "trailingComma": "all",
    "jsxSingleQuote": true,
    "bracketSpacing": true
}
