@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Thai:wght@100;200;300;400;500;600;700;800;900&display=swap');

@import url('circular-process-bar.css');
@import url('devicon/devicon.min.css');
@import url('react-perfect-scrollbar/dist/css/styles.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

้html,
body {
  font-family: 'Montserrat', 'Noto Sans Thai', sans-serif;
}

.max-w-container {
  max-width: 85rem;
}

.header-photo {
  position: relative;
  height: 100px;
  width: 100px;
  z-index: 1;
}

.header-photo:after {
  position: absolute;
  opacity: 0.4;
  top: 6%;
  left: 6%;
  border-radius: 300px;
  content: '';
  height: calc(100% + 0px);
  width: calc(100% + 0px);
  background-image: -webkit-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
  background-image: -moz-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
  background-image: -ms-repeating-radial-gradient(center center, #fff, #fff 1px, transparent 0px, transparent 100%);
  -webkit-background-size: 6px 6px;
  -moz-background-size: 6px 6px;
  background-size: 6px 6px;
  z-index: -1;
}
